body {
    background: rgba(16, 120, 100, 0.22);
    font-family: "Micosoft Yahei";
}
.wrapper {
    width: 800px;
    margin: 0 auto 10px;
    border: 2px solid rgb(129, 0, 8);
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    background: #fff;
    font-size: 20px;
    text-align: center;
}
.wrapper legend {
    color: rgb(71, 158, 163);
    font-size: 30px;
}
.buttons {
    float: right;
}
.buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    background: #fff;
    font-size: 15px;
    cursor: pointer;
}
.buttons button:hover {
    background: rgb(71, 158, 163);
}
.queue-item {
    position: relative;
    left: 0;
    width: 19px;
    box-shadow: 1px 1px 1px #999;
}
#show-pane {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 1px;
    background: #fff;
    border: 2px solid rgb(129, 0, 8);
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
}
#show-pane {
    *zoom:1;
}
#show-pane::before,
#show-pane::after {
    content: "";
    display: table;
    line-height: 0;
}
#show-pane::after {
    clear: both;
}
.itemTip {
    position: absolute;
    top: -30px;
    left: 0;
    height: 20px;
    width: 40px;
    border-radius: 5px;
    border: 2px solid rgb(71, 158, 163);
    text-align: center;
    visibility: hidden;
    z-index: 999;
}
