@charset "UTF-8";
/**
 * 表格样式
 */
html, body, table, thead, tbody, tr, td, div {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
}

table {
  margin: 0 auto;
  border: 1px solid #fff;
  text-align: left;
}

thead {
  color: #fff;
  background: #000;
}

.tbody tr {
  color: #000;
  background: #ccc;
}

.tbody tr:nth-child(even) {
  background: #fff;
}

.tbody tr:nth-child(1) {
  color: red;
}

.tbody tr:nth-child(2) {
  color: red;
}

.tbody tr:nth-child(3) {
  color: red;
}

/**
 * 输入框动画
 */
#MyInput {
  display: block;
  width: 100px;
  margin: 20px auto;
  -webkit-transition: 1s width;
          transition: 1s width;
}
#MyInput:focus {
  width: 200px;
}

/**
 * 轮播图
 */
.banner {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.banner-controller {
  position: absolute;
  bottom: 0;
  right: 0;
}

.banner-controller a {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-left: 2px;
  color: blue;
  background-color: #fff;
  text-align: center;
  line-height: 28px;
  text-decoration: none;
  opacity: .5;
}

.banner-container {
  position: relative;
  width: 1200px;
  height: 200px;
  -webkit-transition: left 1s;
          transition: left 1s;
}

.banner-div {
  float: left;
  width: 400px;
  height: 200px;
}

.banner-red {
  background-color: red;
}

.banner-yellow {
  background-color: yellow;
}

.banner-blue {
  background-color: blue;
}

#event-1:target ~ .banner-container {
  left: 0px;
}

#event-2:target ~ .banner-container {
  left: -400px;
}

#event-3:target ~ .banner-container {
  left: -800px;
}
