body {
    background: rgba(16, 120, 100, 0.22);
    font-family: "Micosoft Yahei";
}
.wrapper {
    width: 800px;
    margin: 0 auto 10px;
    border: 2px solid rgb(129, 0, 8);
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    background: #fff;
    font-size: 20px;
    text-align: center;
}
.wrapper legend {
    color: rgb(71, 158, 163);
    font-size: 30px;
}
.buttons {
    text-align: center;
}
.buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    background: #fff;
    font-size: 15px;
    cursor: pointer;
}
.buttons button:hover {
    background: rgb(71, 158, 163);
}
.queue-item {
    float: left;
    margin: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    background: red;
    font-size: 20px;
}
#show-pane {
    position: relative;
    width: 830px;
    min-height: 200px;
    margin: 0 auto;
    background: #fff;
    border: 2px solid rgb(129, 0, 8);
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
}
#show-pane {
    *zoom:1;
}
#show-pane::before,
#show-pane::after {
    content: "";
    display: table;
    line-height: 0;
}
#show-pane::after {
    clear: both;
}
.select {
    color: #fff;
}
